# Ambiente virtual
venv/
.venv/
ENV/
env/
Env/

# Arquivos Python compilados
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Arquivos de logs e cache
*.log
*.sqlite3
*.db
*.pyc
*.egg-info/
*.egg

# Arquivos de configuração de editor
.vscode/
.idea/

# Configs específicas do sistema
.DS_Store
Thumbs.db

# Arquivos do pip
pip-wheel-metadata/
*.whl

# Arquivos de testes
coverage.xml
htmlcov/
.tox/
.nox/

# Jupyter
.ipynb_checkpoints/

# Docker (se você estiver usando)
*.env
.env.*
docker-compose.override.yml
